<h1>Generando Post</h1>
<%= form_with model: Post.new, local: true, id:"myForm" do |form| %>
  <div class="field">
    <%= form.label :new_title %>
    <%= form.text_field :new_title %>

    <div class="actions">
      <%= form.submit :enviar%>
    </div>
  </div>
<% end %>
<div id="posts">

</div>
<script>
  $('[name=commit]').click(function(e){
    e.preventDefault();
    var form = $("#myform");
    /* Act on the event */
    $.ajax({
      url: '<%= posts_path %>',
      type: 'POST',
      dataType: 'script',
      data: form.serialize()
    })
    .done(function() {
      console.log("success");
    })
    .fail(function() {
      console.log("error");
    })
    .always(function() {
      console.log("complete");
    });

  });
</script>
